<section data-ng-controller="DoctorsController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">Name</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.name" id="name" placeholder="name" required>
			</div>
			
			<label class="control-label" for="hospital">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.title" id="title" placeholder="title">
			</div>

			<label class="control-label" for="city">City</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.city" id="city" placeholder="city" required>
			</div>
			<label class="control-label" for="speciality">Speciality</label>
			
			<div class="controls">
				<input type="text" data-ng-model="doctor.speciality" id="speciality" placeholder="speciality" required>
			</div>
			
			<label class="control-label" for="hospital">Hospital</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.hospital" id="hospital" placeholder="hospital">
			</div>
			
			<label class="control-label" for="hospital">Hospital Address</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.hospital_address" id="hospital_address" placeholder="hospital_address">
			</div>
			
			<label class="control-label" for="hospital">Clinic Address</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.clinic_address" id="clinic_address" placeholder="clinic_address">
			</div>
			
			<label class="control-label" for="hospital">Phone Number</label>
			<div class="controls">
				<input type="text" data-ng-model="doctor.phone_number" id="phone_number" placeholder="phone_number">
			</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>