h1 {
    text-align:center
}

h3 {
	color:red;
}

body
{
background-color:white;
}
.article_list{
	background-color:white;
    width: 55%;
    float: right;
}

.doctor_list{
	background-color:white;
	width: 40%;
	float: left;
}

ul.articles li {
    margin-top:25px;
	outline:1px solid #ccc;
	outline-offset:10px;
}

ul.doctors li {
    margin-top:25px;
	outline:1px solid #ccc;
	outline-offset:10px;
}

